<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="PollIntervalInSeconds" value="5"/>
    <add key="SenderEmailAddress" value="admin@spartanhotels.com"/>
    <add key="NotificationMailTitlePrefix" value="Spartan Hotel Booking Details -"/>
    <add key="PendingBookingQueuePath" value="c:\spartan\bookingrequests\pending\"/>
    <add key="ConfirmedBookingQueuePath" value="c:\spartan\bookingrequests\confirm\"/>
    <add key="PendingNotificationQueuePath" value="c:\spartan\bookingrequests\pendingnotification\"/>
    <add key="RejectedNotificationQueuePath" value="c:\spartan\bookingrequests\rejected\"/>
    <add key="ErrorQueuePath" value="c:\spartan\bookingrequests\error\"/>
  </appSettings>
</configuration>
