<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SpartanHotelsEntities" connectionString="metadata=res://*/SpartanHotelsEntities.csdl|res://*/SpartanHotelsEntities.ssdl|res://*/SpartanHotelsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WN7X64-GC12CQ1;initial catalog=SpartanHotels;persist security info=True;user id=SA;password=P@ssword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BookingQueuePath" value="c:\temp\pending\"/>
    <add key="PollIntervalInSeconds" value="5"/>
    <add key="SenderEmailAddress" value="admin@spartanhotels.com"/>
    <add key="NotificationMailTitlePrefix" value="Spartan Hotel Booking Details -"/>
    <add key="PendingBookingQueuePath" value="c:\temp\pending\"/>
    <add key="ConfirmedBookingQueuePath" value="c:\temp\confirm\"/>
    <add key="PendingNotificationQueuePath" value="c:\temp\pendingnotification\"/>
    <add key="RejectedNotificationQueuePath" value="c:\temp\rejected\"/>
    <add key="ErrorQueuePath" value="c:\temp\error\"/>
  </appSettings>
</configuration>